<ion-view view-title="Account">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        Account Information
      </div>
      <div class="item">
        <ul class="list-unstyled">
          <li>
            Username: <span class="bold">Matthew.Wang</span>
          </li>
        </ul>
      </div>
      <div class="item">
        <button class="button button-block button-calm" ng-click="password()">Change Password</button>
      </div>
      <div class="item">
        <button class="button button-block button-assertive">Delete Account</button>
      </div>
    </div>
  </ion-content>
</ion-view>
