<ion-view view-title="Add Doll">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        Available Devices
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <img class="img-responsive" src="img/android.jpg">
          </div>
          <div class="col col-75">
            <h2><b>Domo Arigato</b> the Android</h2>
            <p>Not connected to any devices</p>
            <button class="button button-block button-balanced">Connect</button>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        Connected Devices
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <img class="img-responsive" src="img/octobiwan.jpg">
          </div>
          <div class="col col-75">
            <h2><b>Octobiwan</b> the Octocat</h2>
            <p>Connected!</p>
            <button class="button button-block button-assertive">Disconnect</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
