<ion-view view-title="{{doll.name}}">
  <ion-content>
    <div class="list card">
      <div class="item">
        <img class="img-doll-detail" src="{{doll.img}}" />
        <center>
          <h1>{{doll.name}}</h1>
          <h2>the {{doll.type}}</h2>
        </center>
      </div>
      <div class="item item-divider">
        {{doll.name}} Hug Stats
      </div>
      <div class="item">
        <ul class="list-unstyled">
          <li>
            <b>{{doll.daily}}</b> hugs today
          </li>
          <li>
            <b>{{doll.monthly}}</b> hugs this month
          </li>
          <li>
            <b>{{doll.yearly}}</b> hugs this year
          </li>
          <li>
            <b>{{doll.lifetime}}</b> hugs since the beginning of time
          </li>
          <li>

          </li>
          <li>
            <b>{{doll.avg}}</b> hugs per hour
          </li>
        </ul>
      </div>

      <div class="item item-divider">
        <h2>{{doll.name}} Hug Graph</h2>
      </div>

      <div class="item">
        <highchart id="chart-main" config="chartConfig" class="span10"></highchart>
      </div>
    </div>
  </ion-content>
</ion-view>
