<ion-view view-title="Home">
  <ion-content>
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="$root.refreshDash()"
    ng-if="!$root.noInternet">
    </ion-refresher>
    <div class="list card">
      <div class="item">
        <h2>Good {{greeting}} {{name}}!</h2>
        <p>It's {{date}}</p>
      </div>

      <div class="item item-divider">
        <h2>The Hug Stats</h2>
      </div>

      <div class="item">
        <ul class="list-unstyled">
          <li>
            <b>{{daily}}</b> hugs today
          </li>
          <li>
            <b>{{monthly}}</b> hugs this month
          </li>
          <li>
            <b>{{yearly}}</b> hugs this year
          </li>
          <li>
            <b>{{lifetime}}</b> hugs since the beginning of time
          </li>
          <li>

          </li>
          <li>
            <b>{{avg}}</b> hugs per hour
          </li>
        </ul>
      </div>

      <div class="item item-divider">
        <h2>The Hug Graph</h2>
      </div>

      <div class="item">
        <highchart id="chart-main" config="chartConfig" class="span10"></highchart>
      </div>

    </div>
  </ion-content>
</ion-view>
