<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Change Password</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePassword()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="updatePassword()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Old Password</span>
          <input type="text" ng-model="accountData.oldpassword">
        </label>
        <label class="item item-input">
          <span class="input-label">New Password</span>
          <input type="password" ng-model="accountData.newpassword1">
        </label>
        <label class="item item-input">
          <span class="input-label">Confirm New Password</span>
          <input type="password" ng-model="accountData.newpassword2">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Change Password</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
