<ion-view view-title="{{plush.name}} Plush">
  <ion-content>
    <div class="list card">
      <div class="item">
        <img class="img-plush-detail" src="{{plush.img}}" />
        <center>
          <h1>{{plush.name}}</h1>
          <h2>the {{plush.type}}</h2>
        </center>
      </div>
      <div class="item item-divider">
        {{plush.name}} Hug Stats
      </div>
      <div class="item">
        <ul class="list-unstyled">
          <li>
            <b>{{daily}}</b> hugs today
          </li>
          <li>
            <b>{{monthly}}</b> hugs this month
          </li>
          <li>
            <b>{{yearly}}</b> hugs this year
          </li>
          <li>
            <b>{{lifetime}}</b> hugs since the beginning of time
          </li>
          <li>

          </li>
          <li>
            <b>{{avg}}</b> hugs per hour
          </li>
        </ul>
      </div>

      <div class="item item-divider">
        <h2>{{plush.name}} Hug Graph</h2>
      </div>

      <div class="item">
        <highchart id="chart-main" config="chartConfig" class="span10"></highchart>
      </div>
    </div>
  </ion-content>
</ion-view>
